<a href="https://colab.research.google.com/github/HernandezKenneth/58003-OOP/blob/main/Conditional_Statements_Control_Structure_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if, elif & else Condition

In [ ]:
x = 50
y = 50
if x<y:
  print("x is less than y")
elif x>y:
  print("x is greater than y")
else:
  print("x is equal to y")

x is equal to y

Application 1 - create a python program that will compare the student's education level

In [14]:
print("Determine the grade level of a student")
print("Grade 1-6 - Primary")
print("Grade 7-12 - Secondary")
print("Not in the choices above - Tertiary")
x = int(input())
if x<=6:
  print("Primary level")
elif x<=12:
    print("Secondary level")
else:
   print("Tertiary level")

Determine the grade level of a student
Grade 1-6 - Primary
Grade 7-12 - Secondary
Not in the choices above - Tertiary
8
Secondary level

In [22]:
x = 10
y = 5
print("x is less than y") if x<y else print("x is greater than y")

x is greater than y

In [41]:
x = 50
if x>10:
  print("above ten")
  if x>20:
    print("and above twenty")
    if x>30:
      print("and above thirty")
      if x>40:
        print("and above fourty")
        if x>50:
          print("and above 50")
        else:
          print("but below 50")
      else:
        print("but below fourty")
    else:
      print("but below thirty")
  else:
    print("but below twenty")
else:
  print("but below ten")

above ten
and above twenty
and above thirty
and above fourty
but below 50

Example 1

In [88]:
print("Input your age")
x=int(input())
print("Not qualified to vote") if x<18 else print("Qualified to vote")

Input your age
20
Qualified to vote

Example 2

In [53]:
print("Input number")
x = int(input())
if x==0:
  print("Number is zero")
elif x>0:
  print("Number is positive")
else:
  print("Number is negative")

Input number
-10
Number is negative

In [ ]:
Example 3

In [87]:
print("grade >= 70 | Passed")
print("grade 65-69 | Remedial")
print("grade <=64 | Failed")
print("Input grade:")
x = int(input())
y = int(input())
z = int(input())
average = (x*0.30 + y*0.30 + z*0.40)
print("Average grade is",average)
if average>70:
  print("Passed!")
elif average>69:
  print("Remedial")
elif average>65:
  print("Failed")

grade >= 70 | Passed
grade 65-69 | Remedial
grade <=64 | Failed
Input grade:
70
60
70
Average grade is 67.0
Failed